@import 'scss/_vars.scss';

.Progress {
  border-radius: $border-radius $border-radius 0 0;
  display: block;
  height: $size_350;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  progress[value] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    display: block;
    height: $size_350;
    width: 100%;

    &::-webkit-progress-bar {
      background: $green_200;
      border: none;
      overflow: hidden;
    }
    &::-moz-progress-bar {
      background: $green_400;
    }
    &::-webkit-progress-value {
      transition: $transition;
      background: $green_400;
    }
  }
}
