@import 'scss/_vars.scss';

.DemoText {
	text-align: center;
	font-style: italic;
	opacity: 0.6;
	margin: $size_700 auto 0 auto;
	font-size: $size_350;

	+ .DemoText {
		margin: $size_400 auto 0 auto;
	}
}
